<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        *{
            padding: 0;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }
        header{
            background-color: rgb(47, 36, 165);
            padding: 20px;
        }
        nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        nav a{
            color: white;
            text-decoration: none;
            margin-right: 20px;
        }
        #nav-right a{
            font-family: 'Shadows Into Light', cursive;
            font-size: 30px;
        }
        body, html{
            height: 100%;
        }