<%- include('includes/header.ejs') %>

    <div id="container">
        <form action="/user/create-quiz" method="POST">
            <input type="text" name="quizTitle" placeholder="Quiz title">
            <input type="text" name="quizDescription" placeholder="Quiz description">
            <div id="qa-field">
                <div class="quiz-qa">
                    <p>Question 1</p>
                    <input type="text" name="question" class="question" placeholder="question">
                    <input type="text" name="rightOption"  placeholder="right-option" class="right-option">
                    <input type="text" name="option" class="option">
                    <input type="text" name="option" class="option">
                    <input type="text" name="option" class="option">
                </div>
                <div class="quiz-qa">
                    <p>Question 2</p>
                    <input type="text" name="question" class="question" placeholder="question">
                    <input type="text" name="rightOption"  placeholder="right-option" class="right-option">
                    <input type="text" name="option" class="option">
                    <input type="text" name="option" class="option">
                    <input type="text" name="option" class="option">
                </div>
                <div class="quiz-qa">
                </div>
            </div>
            <button type="submit">CREATE QUIZ</button>
        </form>
        <div id="add-question">ADD QUESTION</div>
    </div>
</body>
<script>
    
document.querySelector('#add-question').addEventListener('click', ()=>{
    let qaNum = document.querySelectorAll('.quiz-qa').length;
    document.querySelectorAll('.quiz-qa')[qaNum-1].innerHTML = `<div class="quiz-qa">
                    <p>Question 2</p>
                    <input type="text" name="question" class="question" placeholder="question">
                    <input type="text" name="rightOption"  placeholder="right-option" class="right-option">
                    <input type="text" name="option" class="option">
                    <input type="text" name="option" class="option">
                    <input type="text" name="option" class="option">
                </div>
            <div class="quiz-qa">
            </div>`;
})
</script>
</html>