<%- include('includes/header.ejs') %>
    <div class="form">
        <form id="signup" action="/signup" method="POST">
            <input type="text" name="user" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="password" name="confirmPassword" placeholder="confirm password">
            <button type="submit">SIGN UP</button>
        </form>
    </div>
    
</body>
</html>